.user-image
{
    max-width:100px !important;
    height:100px !important;
    border-radius:50% !important;
    overflow:hidden;
    object-fit:cover;
}
.small-image
{
    max-width:40px !important;
    height:40px !important;
    border-radius:50% !important;
    overflow:hidden;
    object-fit:cover;
}
.view:hover
{
    color:#8e54e9;
    transition: all .2s ease-in-out;
}